@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  overflow-y: scroll;
}

video-player-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-left: auto; 
}

video-player-container video {
  width: 50%; 
  height: 400px; 
  float: left; 
  aspect-ratio: 16/9;
}

video-player {
  width: 50%; 
  height: 400px; 
  float: left; 
  aspect-ratio: 16/9;
}
